@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,300;0,800;1,700&family=Work+Sans:wght@200;400;500;700;800&display=swap');

body{
    font-family: 'Cookie', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* style start  */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
   background-color: #9b9898;
   color: white;
   padding: 20px;
}

.nav-container ul{
    display: flex;
   gap: 30px;
   font-style: italic;
}

.nav-container ul li{
    list-style: none;
   
}

.nav-container a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

.nav-container a:hover{
    color: red;
}

.nav-container span{
    color: red;
    font-size: 50px;
    font-weight: bold;
}

/* starting main section banner  */

.banner-container{
    height: 100vh;
    background-image: url("/asset/image/background.jpg"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
     text-align: center;
     align-items: center;
}

.ban-ttl{
    font-size: 65px;
    font-weight: bold;
    color: white;
}
.red{
    color: red;
}

.ban-para{
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 50%;
  margin: auto;
}

.ban-btn{
    padding: 15px 34px;
    border: none;
     
}
.btn-red{
    background-color: red;
    color: white;
}
.btn-white{
    color: red;
}

 .about-container{
    height: 100vh;
    background-image: url("/asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
      
 }



 #img-icon-size{
    width: 80px;
    margin-bottom: 5px;
 }

 .box{
    width: 190px;
    height: 190px;
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
 }

 .about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
.serve-para{
    width: 50%;
}

.box-container,.box-div-two{
    display: flex;

}

.lt{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
}

.ceo-container{
    display: flex;
    align-items: center;
    /* text-align: center;  */
    margin-top: 13px;
    gap: 25px;
}
 .ceo-img{
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .ceo-btnn{
    
    background-color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
 }
 .ceo-btnn:hover{
    color: red;
 }

 .ser-btn{
    margin-bottom: 10px;
    background-color: rgb(220, 212, 212);
    padding: 18px 28px;
    border: none;
    border-radius: 10px;
 }

 .serv-head{
    font-size: 40px;
    font-weight: bold;
 }

 .serve-para{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: italic;
 }

 .left-side ol li{
    font-size: 15px;
     
 }

 .ceo-img{
    border-right: 2px solid red;
    padding-right: 15px;
 }



